ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu ion-list {
  padding: 20px 0;
}

ion-menu ion-list#page-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
  margin-top: 10px;
}

ion-menu ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu ion-item {
  text-align: center;
  font-size: 24px;
  color: --ion-color-success-contrast;
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

/***** POPOVER *****/
ion-popover#data-pop {
  text-align: center;
  align-items: center;
  padding: 40%;
  --height: 14.8%;
  --width: 35%;
}

ion-popover#data-pop ion-item {
padding: 20% 15%;
text-align: center;
--background: rgba(var(--ion-color-secondary-rgb), 0.3);
font-size: 120%;
color: --ion-color-success-contrast;
}